{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}

<h1 class="text-5xl my-8 text-center">Boutique de l'association</h1>
<div class="text-right text-2xl mr-6">
    <a class="font-bold" href="{{ path("panier") }}">Mes réservations</a>
</div>

<div class="grid place-items-center">
    <div class="w-4/5 flex flex-wrap justify-between text-center">
        {% for article in articles %}
            <div class="w-1/3 p-8">
                <div class="drop-shadow transition  hover:scale-105 rounded-[16px] bg-gray-200">
                    <a class="grid place-items-center p-4" href="{{path('boutique_detail', {id: article.id})}}">
                        {% if article.imageName is null %}
                        <img class="w-[200px] h-[200px]" src="{{ asset('/ImageArticle/article_default.png') }}"/>
                        {% else %}
                        <img class="w-[200px] h-[200px]" src="{{ asset('/ImageArticle/'~article.imageName) }}"/>
                        {% endif %}
                    </a>
                </div>
            </div>
        {% else %}
            <td colspan="4">Pas de produits trouvés</td>
        {% endfor %}
    </div>
</div>



{% endblock %}
