{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="flex flex-col self-center m-56">
    <h1 class="text-center text-8xl">Ceci est une page d'accueil ! </h1>
</div>
{% endblock %}
