{% extends 'base.html.twig' %}

{% block title %}Association de la préfecture de la Haute-Vienne{% endblock %}

{% block body %}

<div class="w-1/3 border text-center bg-pink-500">
    <div class="max-w-fit border bg-blue-400 p-20">
        <p class="text-5xl">Caroussel Next-Gen</p>
    </div>
</div>


{% endblock %}
