<div class="text-center">

    <form method="post" action="{{ path('contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette demande de contact?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
        <button class="self-center btn btn-lg btn-primary text-white font-bold box-content h-5 w-48 p-4 border-2 border-[#C83C3C] transition text-white bg-[#C83C3C] hover:bg-[#FFA9A9] hover:text-[#AC2D2D]">Supprimer</button>
    </form>
</div>