{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <a href="{{ path("article_index") }}">Tableau des articles</a>
    <a href="{{ path("user_index") }}">Tableau des users</a>
    <a href="{{ path("office_index") }}">Tableau des postes de l'association</a>

{% endblock %}
