{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

<div class=" py-4 mt-16 flex flex-col justify-evenly w-[40rem] h-fit px-32 m-auto shadow-md bg-gray-100">

    <h1 class="self-center text-4xl font-bold my-8">Modifier un produit</h1>

    {{ include('article/_form.html.twig', {'button_label': 'MODIFIER'}) }}

    {{ include('article/_delete_form.html.twig') }}

    <a class="self-center transition underline hover:text-blue-900 my-8" href="{{ path('article_index') }}">Retour à la liste des produits</a>


</div>
{% endblock %}
