@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-background: #374779;
    --article-price-background: #CBD8E5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}