<form class="text-center" method="post" action="{{ path('office_delete', {'id': office.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ office.id) }}">
    <button class="btn self-center btn btn-lg btn-primary text-white font-bold box-content h-5 w-48 p-4 border-2 border-[#C83C3C] transition text-white bg-[#C83C3C] hover:bg-[#FFA9A9] hover:text-[#AC2D2D]">Supprimer</button>
</form>
