{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="flex flex-col justify-evenly w-[40rem] h-fit px-32 m-auto my-8 rounded-lg shadow-md bg-gray-100">    
    <h1 class="self-center text-4xl font-bold my-8">Modifier poste</h1>
    
    {{ include('office/_form.html.twig', {'button_label': 'METTRE A JOUR'}) }}
    
    {{ include('office/_delete_form.html.twig', {'button_label': 'SUPPRIMER'}) }} 
    
    <a href="{{ path('office_index') }}" class="my-8 self-center unmask hover:text-blue-900 mb-2 cursor-pointer transition underline">Retour</a>  
</div>
{% endblock %}
