<div class="w-full bg-[#1F2945] text-white">
    <div class="xl:px-40 pb-6 lg:px-20 md:px-10 sm:px-5 px-10">
        <div class="w-full pt-6 flex flex-col sm:flex-row space-y-2  justify-start">
            <div class="w-full sm:w-1/2 pr-6 flex flex-col  ">
                <p class="h-[57px] text-3xl">Association de la préfecture</p>
                <p class="opacity-60">La préfecture de la Haute-Vienne est fière de vous présenter son Association</p>
            </div>
            <div class="w-full sm:w-1/4 flex flex-col space-y-6">
                <a href="{{ path('bureau')}}" class="opacity-60">A propos de nous</a>
                <a href="{{ path('shop')}}" class="opacity-60">Boutique</a>
            </div>
            <div class="w-full sm:w-1/4 flex flex-col space-y-6">
                <a href="#" class="opacity-60">Mentions légales</a>
                <a href="{{ path ('contact_index')}}" class="opacity-60">Contact</a>
            </div>
        </div>
    </div>
</div>